body
{
    background-color: #DDDDDD;
}

p
{
    text-align: justify;
}

#img-portrait
{
    margin-top: 1rem;
    max-width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control
{
    background-color: #EFEFEF;
}

.nav
{
    margin-top: 1rem;
}

.welcome
{
    text-align: center;
}